# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/demoapp101/FileContentIndex/7e816375-2fe7-44d6-ad60-0de72f886f94.vsidx
*.vsidx
/.vs/demoapp101/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs
